<div class="container">
<h3>管理者ログイン</h3>

<%= form_with model:@admin ,url: admin_session_path,method: :post, local:true do |f| %>
<table class="table table-borderless">
    <tbody>
      <tr>
        <th class="col-2">メールアドレス</th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email",class: "justify-content-start" %></td>
      </tr>
      <tr>
        <th class="col-2">パスワード</th>
        <td><%= f.password_field :password, autocomplete: "current-password" %></td>
      </tr>
      <tr>
        <th class="col-2"></th>
        <td><%= f.submit "ログイン" ,class: 'btn btn-primary' %></td>
      </tr>
    </tbody>
  </table>
<% end %>
</div>
<%= render "admin/shared/links" %>
