<div class="container">
  <div class="row">
    <p>ようこそ、ながのCAKEへ！</p>
    <p>このサイトは、ケーキ販売のECサイトになります。</p>
    <p>会員でない方も商品の閲覧は出来ますが、</p>
    <p>購入には会員登録が必要になります。</p>
  </div>

  <div class="top-page-new-item">
    <h2>新着商品</h2>

    <div class="row">
    <% @items.each do |item| %>
    <div class="col-md-3">
      <%=link_to item_path(item.id) do %>
      <%= image_tag item.get_image %>
      <% end %>
      <p><%= item.name %></p>
      <p>￥<%= item.price %></p>
    </div>
    <% end %>
    </div>
  </div>
<%= link_to "全ての商品を見る>", items_path ,class: "row justify-content-end" %>
</div>
