<h2>会員一覧</h2>
  <table class="table">
    <thead class ="thead-light">
    <tr>
      <th scope ="col">会員ID</th>
      <th scope ="col">氏名</th>
      <th scope ="col">メールアドレス</th>
      <th scope ="col">ステータス</th>
    </tr>
    </thead>

    <tbody>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= customer.last_name %><%= customer.first_name %></td>
        <td><%= customer.email %></td>
        <td><% if customer.is_active == true %>
              <strong class ="true">有効</strong>
            <% else %>
              <strong class="false">退会</strong>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
    <%= paginate @customers %>
  </table>