<div class="container">
  <h2>配送先登録/一覧</h2>
  <%= form_with model: @new_address, method: :post,url: addresses_path, local:true do |f| %>

  <table class= "table table-borderless">
    <tbody>
      <tr>
        <th class="col-3">郵便番号(ハイフンなし)</th>
        <td><%= f.text_field :postal_code %></td>
        <td></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= f.text_field :address %></td>
        <td></td>
      </tr>
      <tr>
        <th>宛名</th>
        <td><%= f.text_field :name %></td>
        <td><%= f.submit "新規登録" , class: 'btn btn-success'%></td>
      </tr>
    </tbody>
  <% end %>

  <table class= "address-index table table-bordered">
    <thead>
      <tr>
        <th scope ="col">郵便番号</th>
        <th scope ="col">住所</th>
        <th scope ="col">宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <th scope="row"><%= address.postal_code %></th>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td><%= link_to "編集する", edit_address_path(address.id), class: 'btn btn-success' %>
            <%= link_to "削除する",address_path(address.id), method: :delete, class: 'btn btn-danger' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
