<h2>ログイン</h2>

<%= form_with model:@customer, url: customer_session_path, method: :post,local:true do |f| %>

  <div class ="log-in container">
  <div class="field row align-items-center justify-content-center">
    <%= f.label :メールアドレス, class: "col-md-2" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-md-4" %>
  </div>

  <div class="field row align-items-center justify-content-center">
    <%= f.label :パスワード, class:"col-md-2" %>
    <%= f.password_field :password, autocomplete: "current-password",class: "col-md-4" %>
  </div>

  <div class="actions field row align-items-center justify-content-center">
    <%= f.submit "ログイン" ,class: 'btn btn-primary col-md-2 offset-md-2' %>
  </div>
</div>
<% end %>

<h2>会員登録がお済みでない方</h2>
 <p><%= link_to 'こちら', new_customer_registration_path %>から新規登録を行ってください。</p>
